body{
  background-color: rgb(252, 212, 212);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;        /* вирівнювання по центру */
}

#RobotoMono {
  font-family: 'Roboto Mono', sans-serif;
  background-color:antiquewhite;
  color: darkorange;
  font-size: 20px;
  text-align: left;           /* вирівнювання по лівому краю */
}