header {
    background-color: rgb(236, 225, 193);
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#logotext{
    font-size: 30px;
}

ul{
    list-style: none;       /* видалили стандарний стиль для списку */
    margin: 0px;            /* ставить зовнішній відступ 0px */
    padding: 0;             /* ставить внутрішній відступ 0px */
    display: flex;          /* Робимо список горизонтальним */
    gap: 15px;              /* Відступи між елементами */
    align-items: center;
}

a{
    text-decoration: none;    /*анулюємо стандартні стилі тексту посилання*/
    font-weight: bold;        /*робимо текст жирним*/
    color: rgb(64, 64, 64);
}

a:hover{                    /*Зміна кольору при наведенні*/
    color: gray;
}