body {
    margin: 0;
    padding: 0;
}

.Header-Profile-Help-EA-Nav {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    background-color: rgb(0, 0, 0);
    padding: 10px 32px 10px 0;
    margin: 0;
}

.Header-Profile-Help-EA-Nav-Icon-Profile {
    width: 25px;
    height: 25px;
    background: url(media/profile-1336-svgrepo-com.svg) no-repeat center;
    background-size: contain;
}

.Header-Profile-Help-EA-Nav-Icon-Question {
    width: 25px;
    height: 25px;
    background: url(media/question-svgrepo-com.svg) no-repeat center;
    background-size: contain;
}

.Header-Profile-Help-EA-Nav-Icon-EA {
    width: 25px;
    height: 25px;
    background: url(media/ea-svgrepo-com.svg) no-repeat center;
    background-size: contain;
}

.Header-Menu-Nav {
    padding: 10px;
    display: flex;
}

.Header-Menu-Nav-Burger {
    width: 25px;
    height: 25px;
    background: url(media/3844442-dot-menu-more-vertical_110310.svg) no-repeat center; 
    background-size: contain;
    margin-right: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.Header-Menu-Nav-Title {
    margin-top: 5px;
    margin-bottom: 5px;
}

.Header-Menu-Nav-List {
    display: flex;
    gap: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 70px;
    font-family:  "Quicksand", serif;
    font-weight: 500;
    font-size: 18px;
}

.Header-Wallpaper {
    position: relative;
}

.Header-Wallpaper-Main-Picture {
    max-width: 100%;
    height: auto;
    clip-path: inset(0px 0px 300px 0px); /* обрізка знизу */
    }

.Header-Wallpaper-Space-Button-Play-Now {
    position: absolute;
    bottom: 550px; /* регулюй відстань від низу */
    left: 65%; /* зміщення вправо */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Header-Button-Play-Now {
    padding: 25px 50px;
    background-color: #ff4747;
    color: white;
    border-radius: 3px;
    border: none;
    font-size: 16px;
}
